<nav>
  <div class="logo">
    <a href="/"><i class="fa-regular fa-compass"></i></a>
  </div>
  <div class="options">
    <a href="/listings">All Properties</a>
    <a href="/listings/new">Add a New Propety</a>
  </div>
</nav>
